.loginContainer{
    background-color: rgb(233, 144, 144);
    display: flex;
    height: 100vh;
    justify-content: center;
}

.form{
    margin-top: 150px;
}

.inputFiled{
    width: 350px;
}

.button{
    display: flex;
}